/* Import font-family */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Body */

body {
    margin-left: 0;
    height: 2000px;
}

/* Left division block */

.left {
    width: 20%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.025);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    position: fixed; /* so that when scrolling it doesnt changes*/
    padding-top: 15%;
}

/* Profile Image */

.block-img {
    display: flex;
    justify-content: center;
}

.me-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* Personal Info */ 

.personal-info {
    text-align: center;
    margin-top: 2em;
}

.personal-info h1 {
    font-family: sans-serif;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 0;
}

.personal-info p {
    font-family: 'Poppins';
    font-style: italic;
    margin-top: 0;
}

/* Socials */

.socials {
    display: flex;
    justify-content: center;    
    gap: 10px;
}

.socials-icon img {
    height: 25px;
    width: 25px;
}

/* Right division block */

.right {
    width: 80%;
    margin-left: 21%;
}

/* Description */

.title-description h1 {
    font-family: sans-serif;
}

.title-description h1,
.description p {
    text-align: center;
}

.description {
    margin: auto 20%;
}